<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Principale</servlet-name>
  	<display-name>Principale</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Principale</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Verif</servlet-name>
  	<display-name>Verif</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Verif</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dec</servlet-name>
  	<display-name>Dec</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Dec</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreCat</servlet-name>
  	<display-name>PreCat</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreCat</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreLivre</servlet-name>
  	<display-name>PreLivre</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreLivre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Emprunterlv</servlet-name>
  	<display-name>Emprunterlv</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.Emprunterlv</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreEmprunt</servlet-name>
  	<display-name>PreEmprunt</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreEmprunt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidInscription</servlet-name>
  	<display-name>ValidInscription</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.ValidInscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreLivreAdmin</servlet-name>
  	<display-name>PreLivreAdmin</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreLivreAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreAjout</servlet-name>
  	<display-name>PreAjout</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreAjout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostAjout</servlet-name>
  	<display-name>PostAjout</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PostAjout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreEmpruntAdmin</servlet-name>
  	<display-name>PreEmpruntAdmin</display-name>
  	<description></description>
  	<servlet-class>tn.essat.controller.PreEmpruntAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Principale</servlet-name>
  	<url-pattern>/Principale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Verif</servlet-name>
  	<url-pattern>/Verif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dec</servlet-name>
  	<url-pattern>/Dec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreCat</servlet-name>
  	<url-pattern>/PreCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreLivre</servlet-name>
  	<url-pattern>/PreLivre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Emprunterlv</servlet-name>
  	<url-pattern>/Emprunterlv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreEmprunt</servlet-name>
  	<url-pattern>/PreEmprunt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidInscription</servlet-name>
  	<url-pattern>/ValidInscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreLivreAdmin</servlet-name>
  	<url-pattern>/PreLivreAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreAjout</servlet-name>
  	<url-pattern>/PreAjout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostAjout</servlet-name>
  	<url-pattern>/PostAjout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreEmpruntAdmin</servlet-name>
  	<url-pattern>/PreEmpruntAdmin</url-pattern>
  </servlet-mapping>
</web-app>
